<div class="back">
<img src="../../assets/image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
<div class="black"></div>
</div>
<div class="application">
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4" id="header">
                <h1>Registration</h1>
                <div *ngIf="msg" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Thank You For Register,Your Registration Successfully</strong>
                    <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <form [formGroup]="update" (ngSubmit)="updatedata()">
                    <div class="form-group">
                        <label >Employee Name</label>
                        <input type="text"  style="text-transform: uppercase" formControlName="EmployeeName" class="form-control" placeholder="enter the Name" >
                        <span class="error" *ngIf="EmployeeName.invalid && EmployeeName.touched ">Enter your Name</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Designation</label>
                        <select formControlName="Designation" class="form-control">
                            <option>CEO</option>
                            <option>Team Leader</option>
                            <option>Assistant</option>
                            <option>Trainee</option>
                        </select>
                        
                        
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Salary</label>
                        <input type="number"   formControlName="Salary" class="form-control" placeholder="enter the Salary" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Email</label>
                        <input type="email"   formControlName="Email" class="form-control" placeholder="enter the Email" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Mobile</label>
                        <input type="number"   formControlName="Mobile" class="form-control" placeholder="enter the Mobile no" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Qualification</label>
                        <select formControlName="Qualification" class="form-control" >
                            <option>B.E/B.Tech</option>
                            <option>BSC</option>
                            <option>MSC</option>
                            <option>M.phil</option>
                            <option>Bcom</option>
                        </select>
                        
                    </div>
                    <br>
                    <div class="form-group">
                        <label >Manager</label>
                        <input type="text"   formControlName="Manager" class="form-control"  >
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="example-button-row">
                        <button class="btn btn-primary" [disabled]="update.invalid" type="submit" mat-button color="primary">update</button>
                        <button class="btn btn-primary" [disabled]="update.invalid" type="submit" mat-button color="primary">Reset</button>
                    </div>
                    </div>
                   
                </form>
            </div>
        <div class="col-sm-4"></div>
    </div>
</div>